@mixin button-small-primary {
  text-transform: uppercase;
  background: var(--color-primary);
  color: var(--color-white);
  padding: 0.5em 1.5em;
  border: 1px solid var(--color-primary);
  box-shadow: 0 0 5px var(--color-dark-grey-transparent);
  border-radius: 15px;
  transition: all 0.2s linear;

  &:hover {
    background: var(--color-primary-dark);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--color-primary);
  }

  &:disabled {
    background: var(--color-grey);
    border-color: var(--color-grey);
  }
}

@mixin button-small-secondary {
  @include button-small-primary;
  background: var(--color-white);
  color: var(--color-black);

  &:hover {
    background: var(--color-light-grey);
  }
}
