$breakpoint-mobile: 550px;

:root {
  --color-primary: #3366cc;
  --color-primary-transparent: #3366cc44;
  --color-black: #000;
  --color-dark-grey-transparent: #88888855;
  --color-grey: #aaa;
  --color-white: #fff;
}
